 # Random Stuff
.lsp/
.cpcache/

# JS Stuff
node_modules/

# Elm Stuff
elm-stuff/

# Clojure Stuff
.nrepl-port
.clj-kondo/
.shadow-cljs/

# Dist Stuff
cljs-dist/**/*
!cljs-dist/.gitkeep
dist/**/*
!dist/.gitkeep
