{:source-paths ["src"]
 :dependencies []
 :nrepl {:port 8420}
 :builds {:app {:output-dir "./cljs-dist/app"
                :target :esm
                :runtime :browser
                :js-options {:js-provider :import}
                :modules {:app.main {:exports {render app.app/render}}}
                :dev {:compiler-options {:source-map true}}
                :release {:compiler-options {:optimizations :advanced
                                             :source-map true}}}}}
