{:source-paths ["src"]
 :dependencies [[reagent "1.1.1"]]
 :builds {:app {:output-dir "./cljs-dist"
                :target :npm-module
                :entries [app.main]
                :release {:compiler-options {:optimizations :advanced}}}}}
