source_up .envrc

export PATH=/opt/homebrew/lib/ruby/gems/2.7.0/bin:/opt/homebrew/opt/ruby@2.7/bin:$PATH

export ANDROID_HOME=~/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/tools:$ANDROID_HOME/tools/bin:$ANDROID_HOME/platform-tools

export JAVA_HOME=$(asdf where java)
export PATH=$JAVA_HOME/bin:$PATH
