html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.edge .react-flow__edge-path {
  stroke: blue;
  stroke-width: 0.2rem;
}

.edge.visited .react-flow__edge-path {
  stroke: orange;
}
